<h1>New parent and child</h1>

<%= form_with model: @form, method: :post, url: parents_path do |f| %>
  <h2>Parent</h2>
  <%= f.label :parent_name, style: "display: block" %>
  <%= f.text_field :parent_name %>
  <br />
  <h2>Child</h2>
  <%= f.label :child_name, style: "display: block" %>
  <%= f.text_field :child_name %>
  <br />
  <%= f.submit "Create Parent and Child" %>
<% end %>

<br>

<div>
  <%= link_to "Back to parents", parents_path %>
</div>
